#firstpage {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#firstpage img {
  max-width: 100%;
  height: auto;
  display: block;
}

#firstpage__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  font-weight: 800;
}

@keyframes logoJump {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: none;
  }
}

#first-logo {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
  animation: logoJump 2s ease-in-out infinite;
}

#first-text {
  max-height: 300px;
  width: auto;
  height: auto;
  margin-left: 100px;
}

@keyframes hideSplashScreen {
  form {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: #efefef;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hideSplashScreen 0.8s ease-in-out forwards;
  animation-delay: 1s;
}

#splash-screen img {
  scale: 0.4;
}

@media (max-width: 1000px) {
  #firstpage {
    flex-direction: column;
  }
  #first-text {
    margin-left: 0px;
    margin-top: 50px;
  }
  #splash-screen img {
    scale: 0.3;
  }
}
